<div class="content">
  <div class="page-title">
    <h1>Plugins</h1>
    <p>Here be plugins</p>
    <p class="shortline"></p>
  </div>
  <form class="navbar-form pull-left search-form" >
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search pedalboards"
        name="srchTerm"
        id="srch-term"
        [(ngModel)]="srchTerm"
      />
      <div class="input-group-btn">
        <button class="btn btn-default btn-search" type="submit" 
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="plugins" *ngIf="plugins.length > 0">
    <div class="card"  *ngFor="let plugin of plugins | firebaseFilter : srchTerm" >
      <a [routerLink]="['/plugin-details',plugin.key]" ><img 
        class="card-img-top plugin-img"
        src="{{ plugin ? plugin.image : ''}}" 
      />

      </a>
      <div class="card-body">
        <div class="buttons">
          <button type="button" class="btn btn-primary card-button" *ngIf="plugin.tag1" (click)="getFilteredPlugin( plugin.tag1)">
            {{plugin.tag1}}
          </button>
          <button type="button" class="btn btn-primary card-button" *ngIf="plugin.tag2" (click)="getFilteredPlugin(plugin.tag2)">
            {{plugin.tag2}}
          </button>
        </div>
        <div class="divider"></div>
        <div class="plugin-info-container">
          <a
            class="name"
            [routerLink]="['/plugin-details',plugin.key]"
            >            {{plugin.nomPlugin}}
            </a
          >
          <a class="brand">       {{plugin.nomCreateur}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
