<div *ngIf="connected">
  <form class="create-form">
    <mat-form-field class="example-full-width nom">
      <input matInput #newName placeholder="Name" />
    </mat-form-field>
    <br />
  
    <mat-form-field class="example-full-width desc">
      <textarea matInput #newDesc placeholder="Description" maxlength="256"></textarea>

      <mat-hint align="end">{{ newDesc.value.length }} / 256</mat-hint>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width createur">
      <input matInput #tags placeholder="Tags (séparé par un ';' )" />
    </mat-form-field>
    <br>
  

    <label for="file">Image du plugin :</label>
<input type="file" (change)="upload($event)" accept=".png,.jpg" />
<span>{{chargementImage ? (chargementImage | async) : ''}}</span>
  </form>

<br>

  <button mat-raised-button [disabled]="imageName && imageUploaded" (click)="save(newName.value, newDesc.value, tags.value)">Creer
    nouveau plugin</button>

</div>
  <div *ngIf="!connected">
    <h1>Vous devez être connecté pour ajouter un plugin</h1>
  </div>