mat-toolbar{
    background-color: black;
    color:white;

}

.logo-link{
    height: 80%;
    margin-right: 2.8125em;
    margin-left: 4em;
}

.logo{
    height: 100%;
}

.item:hover{
    background-color: yellow;
    height: 100%;
    display: table;
}

.item a {
    display: table-cell; 
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: white;
    
}

a:active { 
    background-color: yellow;
}

.link{
    
    padding-right: 1.6em;
    padding-left: 1.6em;
}
