<mat-toolbar>
  <a class="logo-link" routerLink=""
    ><img
      class="logo"
      src="https://pedalboards.moddevices.com/static/images/mod_logo.jpg"
  /></a>
  <div class="item"><a class="link" routerLink="home"> Home</a></div>
  <div class="item"><a class="link" routerLink="plugin-list"> Plugin</a></div>
  <div class="item">
    <a class="link" routerLink="create-plugin"> Creation Plugin</a>
  </div>
  <div
    class="item"
    style="margin-left:auto; margin-right:0"
    *ngIf="authentificationService.connected"
  >
    <a class="link" (click)="deconnexion()" style="color: red"> Deconnexion</a>
  </div>
</mat-toolbar>
